.content__img {
  width: 100%;
  border-bottom: 1px solid #39474d;
}

.content__inner {
  padding: 15px;
}

.content__img {
  width: 100%;
  border-bottom: 1px solid #39474d;
}

.content__inner {
  padding: 15px;
}