.form_section {
  margin-bottom: 20px;
}

.input {
  height: 25px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid rgb(118, 118, 118);
  outline: none;
  padding: 5px;
  background-color: #39474d;
  color: rgba(255, 255, 255, .7);
}

.checkbox {
  margin-right: 10px;
}

.submit_btn {
  padding: 10px 20px;
  background-color: #39474d;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 5px;
  color: rgba(255, 255, 255, .7);
  transition: all .5s;
}

.submit_btn:hover {
  color: #98c361;
  background-color: #2c313c;
}