.header {
  grid-area: h;
  background-color: #1e2227;
  border-bottom: 1px solid #39474d;
  padding: 15px;
}

.header__img {
  width: 70px;
}

.login_block {
  float: right;
}

.login_link {
  text-decoration: none;
  color: #98c361;
}

.username {
  color: #98c361;
}