.nav {
  grid-area: n;
  background-color: #23272e;
  padding: 15px;
  border-right: 1px solid #39474d;
}

.nav a {
  text-decoration: none;
  color: #d19a5f;
}

.item :global(a.active) {
  color: #dbe44b;
}